header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.app-name{
    font-size: 30px;
}

.add-btn{
    
    text-decoration: none;
    color: inherit;
    background-color: lightblue;
    padding: 10px;
    border-radius: 50%;
    line-height: 20px;
    height: 20px;
    font-size: 40px;
}